@model Steep.Web.ViewModels.Statistics.StatisticsIndexViewModel

<div class="container">
    <h1>We have...</h1>
    <div class="col-md-3">
        <h1>@Model.NumberOfUsers</h1>
        <strong>users</strong>
    </div>
    <div class="col-md-3">
        <h1>@Model.NumberOfStories</h1>
        <strong>stories</strong>
    </div>
    <div class="col-md-3">
        <h1>@Model.NumberOfGenres</h1>
        <strong>genres</strong>
    </div>
    <div class="col-md-3">
        <h1>@Model.NumberOfChapters</h1>
        <strong>chapters</strong>
    </div>
</div>