@model Steep.Web.ViewModels.Statistics.StatisticsStoryViewModel

<div class="col-md-6">
    This story has <strong>@Model.NumberOfChapters</strong> different chapters available.
</div>

<div class="col-md-6">
    This story has been viewed <strong>@Model.NumberOfViews</strong> times.
</div>